In [1]:
import pandas as pd

df = pd.read_csv("../data/user_logs.csv")
df

  user_id  downloads_mb  uploads_mb  login_hour  access_frequency
0     U01             5           1          10                 5
1     U02             6           2          11                 6
2     U03             4           1           9                 4
3     U04            50          10           2                40
4     U05            60          15           1                50

In [2]:
X = df.drop("user_id", axis=1)
X

   downloads_mb  uploads_mb  login_hour  access_frequency
0             5           1          10                 5
1             6           2          11                 6
2             4           1           9                 4
3            50          10           2                40
4            60          15           1                50

In [3]:
from sklearn.ensemble import IsolationForest

anomaly_model = IsolationForest(
    contamination=0.4,   # % of anomalies expected
    random_state=42
)

anomaly_model.fit(X)
print("✅ Anomaly detection model trained")

✅ Anomaly detection model trained

In [4]:
df["anomaly_flag"] = anomaly_model.predict(X)
df

,user_id,downloads_mb,uploads_mb,login_hour,access_frequency,anomaly_flag
0,U01,5,1,10,5,1
1,U02,6,2,11,6,1
2,U03,4,1,9,4,1
3,U04,50,10,2,40,-1
4,U05,60,15,1,50,-1

In [5]:
import joblib

joblib.dump(anomaly_model, "../model/anomaly_model.pkl")
print("✅ anomaly_model.pkl saved")

✅ anomaly_model.pkl saved