In [5]:
import pandas as pd

df = pd.read_csv("../data/raw_data.csv")
df

from sklearn.preprocessing import LabelEncoder

file_type_encoder = LabelEncoder()
df['file_type_encoded'] = file_type_encoder.fit_transform(df['file_type'])

df[['file_type', 'file_type_encoded']]
label_encoder = LabelEncoder()
df['label_encoded'] = label_encoder.fit_transform(df['label'])

df[['label', 'label_encoded']]

              label  label_encoded
0            Public              3
1      Confidential              0
2          Internal              2
3  Highly_Sensitive              1
4            Public              3
5  Highly_Sensitive              1

In [7]:
df_processed = df.drop(['file_name', 'file_type', 'label'], axis=1)
df_processed

,content_length,contains_email,contains_pan,contains_aadhaar,file_type_encoded,label_encoded
0,1200,0,0,0,2,3
1,5000,1,1,0,1,0
2,3000,1,0,0,0,2
3,8000,1,1,1,0,1
4,400,0,0,0,3,3
5,9000,1,1,1,1,1

In [8]:
df_processed.to_csv("../data/processed_data.csv", index=False)
print("✅ processed_data.csv saved")

✅ processed_data.csv saved